Periods are time duration. We can create weekly, monthly, yearly.

In [2]:
import pandas as pd
p = pd.Period('2020')
p

Period('2020', 'A-DEC')

In [3]:
dir(p)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
p.is_leap_year

True

In [5]:
p.start_time     #yearly

Timestamp('2020-01-01 00:00:00')

In [6]:
p.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [8]:
m = pd.Period('2020-1')     #monthly
m

Period('2020-01', 'M')

In [9]:
m.start_time

Timestamp('2020-01-01 00:00:00')

In [10]:
m.end_time

Timestamp('2020-01-31 23:59:59.999999999')

In [11]:
m+1     #add new month

Period('2020-02', 'M')

In [14]:
d = pd.Period('2020-02-28', freq='D')    #daily
d

Period('2020-02-28', 'D')

In [16]:
d+1     #add one day

Period('2020-02-29', 'D')

In [17]:
h = pd.Period('2020-02-28 10:30:00', freq='H')     #hourly
h

Period('2020-02-28 10:00', 'H')

In [18]:
h.start_time

Timestamp('2020-02-28 10:00:00')

In [19]:
h.end_time

Timestamp('2020-02-28 10:59:59.999999999')

In [21]:
h-1

Period('2020-02-28 09:00', 'H')

In [23]:
q = pd.Period('2020Q1')     #quarterly
q

Period('2020Q1', 'Q-DEC')

In [24]:
q.start_time

Timestamp('2020-01-01 00:00:00')

In [25]:
q.end_time

Timestamp('2020-03-31 23:59:59.999999999')

In [3]:
q1 = pd.Period('2020Q1', freq='Q-JAN')    #quarterly from starting month feb-jan
q1

Period('2020Q1', 'Q-JAN')

In [27]:
q1.start_time

Timestamp('2019-02-01 00:00:00')

In [28]:
q1.end_time

Timestamp('2019-04-30 23:59:59.999999999')

In [4]:
q1.asfreq(freq='M', how='start')     #asfreq() to convert frequency of period

Period('2019-02', 'M')

In [5]:
q1.asfreq(freq='H', how='end')

Period('2019-04-30 23:00', 'H')

In [9]:
index = pd.period_range('2015','2020',freq='Q')
index

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4',
             '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [10]:
index[1].start_time

Timestamp('2015-04-01 00:00:00')

In [11]:
index[1].end_time

Timestamp('2015-06-30 23:59:59.999999999')

In [4]:
index1 = pd.period_range('2015',periods=10,freq='Q')
index1

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [6]:
import numpy as np
ps = pd.Series(np.random.randint(1,10,len(index1)),index1)
ps

2015Q1    9
2015Q2    1
2015Q3    8
2015Q4    5
2016Q1    9
2016Q2    7
2016Q3    5
2016Q4    1
2017Q1    8
2017Q2    5
Freq: Q-DEC, dtype: int64

In [8]:
ps['2017']

2017Q1    8
2017Q2    5
Freq: Q-DEC, dtype: int64

In [9]:
ps['2015':'2016']

2015Q1    9
2015Q2    1
2015Q3    8
2015Q4    5
2016Q1    9
2016Q2    7
2016Q3    5
2016Q4    1
Freq: Q-DEC, dtype: int64

In [17]:
ps = ps.to_timestamp()
ps

2015-01-01    9
2015-04-01    1
2015-07-01    8
2015-10-01    5
2016-01-01    9
2016-04-01    7
2016-07-01    5
2016-10-01    1
2017-01-01    8
2017-04-01    5
Freq: QS-OCT, dtype: int64

In [18]:
ps.index

DatetimeIndex(['2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [19]:
ps.to_period()

2015Q1    9
2015Q2    1
2015Q3    8
2015Q4    5
2016Q1    9
2016Q2    7
2016Q3    5
2016Q4    1
2017Q1    8
2017Q2    5
Freq: Q-DEC, dtype: int64

Wal Mart's Financials

In [3]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [4]:
df.set_index('Line Item', inplace=True)

In [11]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [12]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [14]:
df.index = pd.PeriodIndex(df.index, freq='Q')     #convert index to periodindex
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [17]:
df['Start Time'] = df.index.map(lambda x: x.start_time)     #add start time column
df

Line Item  Revenue  Expenses  Profit Start Time
2017Q1      115904     86544   29360 2017-01-01
2017Q2      120854     89485   31369 2017-04-01
2017Q3      118179     87484   30695 2017-07-01
2017Q4      130936     97743   33193 2017-10-01
2018Q1      117542     87688   29854 2018-01-01

In [22]:
df['End Time'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Time                      End Time
2017Q1      115904     86544   29360 2017-01-01 2017-03-31 23:59:59.999999999
2017Q2      120854     89485   31369 2017-04-01 2017-06-30 23:59:59.999999999
2017Q3      118179     87484   30695 2017-07-01 2017-09-30 23:59:59.999999999
2017Q4      130936     97743   33193 2017-10-01 2017-12-31 23:59:59.999999999
2018Q1      117542     87688   29854 2018-01-01 2018-03-31 23:59:59.999999999